@charset "utf-8";

.moc-container{
	height: 100%;
	position: relative;
	&.moc-display-flex{
		@include displayFlex;
		@include boxOrient;
	}
	&.moc-horizontal{	
		@include boxOrient('horizontal');
	}	
}
.moc-container-section{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	&:last-child{
		margin-bottom: 20px;
	}
	&.is-bodier{
		@include displayFlexNumber;
		position: relative;
	}
	>.moc-container-section-inner{
		@include square(100%);
		position: absolute;
		left: 0;
		top: 0;
		overflow: auto;
	}
}









