@charset "utf-8";

.moc-container{
	height: 100%;
	@include displayFlex;
	@include boxOrient;
	overflow: auto;
	background-color: $bgColor;
	>.moc-section{
		margin-left: 20px;
		margin-right: 20px;
	}
}
.moc-container-section{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	&:last-child{
		margin-bottom: 20px;
	}
	&.moc-container-bodier{
		position: relative;
		@include displayFlexNumber;
		overflow: auto;
	}
}











