@charset "utf-8";




/**
 * 
 *
 * 与表单相关的组件
 * 
 * 
 */
// 行内表单两个组件之间的分隔符，例：  开始时间 至 结束时间
.project-form-label-static{
	padding: 0 10px;
}
// 查看详情 显示文字组件
.project-form-text{
	color: #666666;
	&.el-tooltip{
		@include text-overflow;
	}
}















/**
 * 
 *
 * 行内表单
 *
 *
 */
.project-form-inline{
	
}

















/**
 * 
 *
 * 水平表单
 *
 *
 */
.project-form-horizontal{
	.el-select,
	.el-date-editor.el-input,
	.el-date-editor.el-input__inner{
		width: 100%;
	}
}



















/**
 * 
 *
 * 表单页的查看详情
 *
 *
 */
.project-form-text{
	color: $seconTextColor;
	&.el-tooltip{
		@include text-overflow;
	}
}
.project-form-details{
	.el-form-item--mini.el-form-item{
		margin-bottom: 6px;
	}
}







