@charset "utf-8";

/**
 * 行内表单 设置宽度
 */
.el-form--inline{
	@for $i from 0 through 80 {
		&.content-width-#{$i*10},
		.el-form-item.content-width-#{$i*10}{
			.el-input,
			.project-form-text,
			.el-input-number {
				width: #{$i*10}px;
			}
			.el-date-editor--daterange.el-input__inner,
			.el-date-editor--datetimerange.el-input__inner,
			.el-date-editor--monthrange.el-input__inner{
				width: #{$i*20}px;
			}
		}
	}
}


/**
 * 
 *
 * 与表单相关的组件
 * 
 * 
 */
// 行内表单两个组件之间的分隔符，例：  开始时间 至 结束时间
.project-form-label-static{
	padding: 0 10px;
}

















/**
 * 
 *
 * 行内表单
 *
 *
 */
.project-form-inline{
	
}

















/**
 * 
 *
 * 水平表单
 *
 *
 */
.project-form-horizontal{

}



















/**
 * 
 *
 * 表单页的查看详情
 *
 *
 */
.project-form-text{
	color: #666666;
	&.el-tooltip{
		@include text-overflow;
	}
}
.project-form-details{
	.el-form-item--mini.el-form-item{
		margin-bottom: 6px;
	}
}







