@charset "utf-8";
/**
 * 
 *
 * nprogress 页面加载进度条
 * 
 * 
 */
#nprogress{
	$nprogressColor: #F00 !default;
	.bar {
		background: $nprogressColor;
	}
	.peg {
		box-shadow: 0 0 10px $nprogressColor, 0 0 5px $nprogressColor;
	}
	.spinner-icon {
		border-top-color: $nprogressColor;
		border-left-color: $nprogressColor;
	}
}























