@charset "utf-8";


.body-bg-default{
	background-color: #f1f1f1;
}

// **************************** page 页面框架 **********************************
html,
body,
#app,
#page-container{
	height: 100%;
}
.moc-page-header{
	background-color: #00A0E9;
}
.moc-page-nav {
	line-height: 60px;
	a{
		color: #ffffff;
	}
}















