@charset "utf-8";


.body-bg-default{
	background-color: $bgColor;
}

// **************************** page 页面框架 **********************************
html,
body,
#app{
	height: 100%;
}

/**
 * 顶部导航
 */
#page-header{
	padding: 0;
	background-color: $mainColor;
}
.moc-page-logo{
	width: 220px;
	float: left;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 60px;
	text-align: center;
	background-color: rgba(#000000, 0.15);
}
.moc-page-nav {
	float: left;
	line-height: 60px;
	.moc-page-nav-item{
		display: block;
		float: left;
		padding: 0 20px;
		color: #ffffff;
		line-height: 60px;
		&:hover,
		&.moc-active{
			background-color: #2d71b6;
		}
	}
}
/**
 * 主体部分
 */
#page-main{
	overflow: hidden;
	background-color: $bgColor;
}
#page-container{
	height: calc(100% - 40px);
}


/**
 * 左导航
 */
#page-sidebar{
	.el-menu-vertical-demo:not(.el-menu--collapse) {
		width: 220px;
	}
	.neu-menu-tools{
		height: 40px;
		position: relative;
	}
	.hamburger{
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		right: 17px;
		top: 5px;
		cursor: pointer;
		background-color: #F1F1F1;
		font-size: 20px;
		color: $textColor;
		line-height: 30px;
		font-weight: 400;
		text-align: center;
		&.neu-active {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
}




/**
 * section 模块的调整
 */
#page-content{
	> .moc-container-section{
		margin: 10px;
		margin-top: 0;
		&:first-child{
			margin-top: 10px;
		}
	}
	.project-form,
	.project-search,
	.project-table{
		margin-bottom: 0;
	}
}

.project-btns{
	text-align: right;
}
.project-search{
	padding: 10px 20px 0;
}

.project-dialog-content{
	padding: 20px;
	&:not(.is-auto-height){
		height: calc(100% - 40px);
	}
}

































.m-t-0{
	margin-top: 0 !important;
}
.m-b-0{
	margin-bottom: 0 !important;
}








