@charset "utf-8";

/**
 * 
 *
 * 表格的搜索条件
 *
 *
 */
.project-search{
	.el-form-item--small.el-form-item{
		margin-bottom: 10px;
	}
	.project-search-btns{
		.el-button--small{
			position: relative;
			top: -1px;
		}
	}
}















/**
 * 
 *
 * 表格的分页器
 *
 *
 */
.project-pagination{
	background-color: #FFFFFF;
	text-align: center;
	.el-pagination{
		margin: 10px auto;
		display: inline-block;
	}
}





