@charset "utf-8";


/**
 * 
 * 与 font 文字相关的变量
 * 
 */
// 定义字体
$font-family:  "Microsoft YaHei", "SimSun", Arial, Helvetica, sans-serif !default;











/**
 * 
 * 定义颜色
 * 
 */
// 背景色
$bgColor: #f1f1f1 !default;
// 主色调
$mainColor: #409EFF !default;
// 文字颜色
$mainTextColor: #333333 !default;		// 主要文字
$textColor: #666666 !default;			// 常规文字
$seconTextColor: #888888 !default;		// 次要文字
$placeholderColor: #aaaaaa !default;	// 占位文字
// 描边颜色
$borColor: #EBEEF5 !default;









































