@charset "utf-8";

/* 改变主题色变量 */
// $--color-primary: teal;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";


// **************************** el-menu **********************************
.el-menu,
.el-aside {
	color: #333;
	border: 0 none;
}
.el-main{
	padding: 0;
}


// **************************** element-ui upload **********************************




