@charset "utf-8";

/* 改变主题色变量 */
// $--color-primary: teal;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";


// **************************** el-menu **********************************
.el-menu,
.el-aside {
	color: $textColor;
	border: 0 none;
}
.el-main{
	padding: 0;
}





// **************************** el-select el-date-picker **********************************
.el-date-editor.el-input,
.el-date-editor.el-input__inner,
.el-select {
    width: 100%;
}

.el-date-editor--daterange,
.el-date-editor--monthrange,
.el-date-editor--datetimerange{
	.el-range-separator{
		width: 24px;
	}
	.el-range-input{
		width: calc(50% - 36px);
	}
}

// **************************** 表单 **********************************
.el-form{
	padding-bottom: 1px;
}


// **************************** el-table **********************************
.el-table {
	th {
		background-color: $sectionHeader;
	}
}



// **************************** el-dialog **********************************
.el-dialog__body {
	padding: 0;
}
.el-dialog__header{
	border-bottom: $borColor 1px solid;
	padding: 14px 20px;
}
.el-dialog__headerbtn{
	top: 17px;
}
.el-dialog__footer{
	border-top: $borColor 1px solid;
	padding: 14px 20px;
}
